# Artifacts
*.tsv
*.csv
queries.txt
node_modules
dist
dist-ssr
*.local
*.png

# Logs
logs
*.log
*.dump
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
